/*index page*/
#background-index{
     
     font-family: Arial, Helvetica, sans-serif; 
     background-image: url(../assets/fevicon_image/home.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     margin: 0;
    }

.banner{
  
  padding-left: 60px;
  padding-top: 100px;
}

.banner h2{
  color: #fff;
  font-size: 40px;
  margin: 5px 0;
}

.header {
    background-color: #f5f5f5;
    padding: 15px 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    gap: 30px; 
}

.nav a {
    text-decoration: none;
    color: #393939;
    font-weight: 500px;
}

/*about our village page*/
#background-aboutourvillage{
    background-image: url(../assets/fevicon_image/aboutourvillagebackgroundimage.jpg);
    background-position: center;
    background-repeat: no- repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.banner2 {
    background-color: #f5f5f5;
    padding: 40px;
}




